body {
    font-family: Verdana, Arial, Helvetica-Normal;
    font-size: 12px;
    text-align: justify;
    background-color: #e6e9ec;
    padding: 20px;
    line-height: 2;
    color: #2D2D2D;
}
#wrapper{
    max-width: 800px;
    margin: 0 auto;
}
.page {
    background-color: white;
    margin: 10px;
    padding: 8px 25px 8px 25px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}
.top {
    background-color: white;
    margin: 10px;
    padding: 8px 25px 8px 25px;
    line-height: 0.5;
    font-size: 16px;
    font-weight: bold;
    height: 160px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);

}
.contact {
    line-height: 0.5;
}

.skills {
    -webkit-columns: 100px 3;
    text-align: left;
    padding-bottom: 40px;
}


h1 {
    color: #5b8ec0;
    font-size: 40px;
    margin-bottom: 1px;
}

h2 {
    color:#5b8ec0;
    font-size: 18px;
    text-transform: uppercase;
}

h3 {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
}

h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
}

div {
    width: 800px;
    margin: auto;
}

ul {
    line-height: 1.5;
    padding-left: auto;
}

table, th, td {
    border-collapse: collapse;
    font-size: 12px;
    border: 1px solid black;
    padding: 12px;
    width: 600px;
    text-align: center;
}

.senior {
    font-weight: bold;
}

#license {
    background: url("license.jpg") no-repeat;
    padding: 7px 7px 7px 42px;
}

#top-menu-bar {
    position: fixed;
    top: 40px;
    right: 375px;
    width: 150px;
    text-align: left;
    color:#5b8ec0;
    font-size: 12px;
    font-weight: normal;
}

#top-menu-bar li {
    display: block;
    margin: 0;
    padding: 0;
}

#top-menu-bar a {
    text-decoration: none;
    color: #5b8ec0;
    padding: 0 10px 0 10px;
}

#top-menu-bar a:visited {
    color: #5b8ec0;
}

#top-menu-bar a:hover {
    color: #5b8ec0;
    font-weight: bold;
}